
<form id="new_comment_form" class="form" method='post', action='/comments'>
  <textarea rows='10' cols='70' name='content' placeholder="Enter a comment here."></textarea><br>
  <input type="submit" class="button" value="Submit Question" ></input>
</form>
