<div>
	<form method="get" action="/login">
		<label for="email">Email</label>
		<input type="text" id="email" name="email">
		<label for="password">Password</label>
		<input type="password" id="password" name="password">
		<input type="submit" value="Log In">
	</form>
</div>
